{% extends 'layout.html' %} {% block content %}

    <div class="back-arrow" onclick="window.history.back()">←</div>

    <div class="user-container">
        <div class="user-header">
            <img src="data:image/png;base64,{{ photos.0.content }}" class="user-photo" alt="Фото профиля отсутствует"/>
            <h3>{{ user.name }}</h3>
            <p>Подписка: {{ user.subscription_type }}</p>
            <p>ID: {{ user.id }}</p>
        </div>
        <div class="user-data">
            <div>
                <h3>Основная почта:</h3>
                <p>{{ user.email }}</p>
            </div>
            <div>
                <h3>Дата рождения:</h3>
                <p>{{ user.birth_day }}</p>
            </div>
            <div>
                <h3>Пол:</h3>
                <p>{% if user.gender == 'MALE' %}Мужской{% else %}Женский{% endif %}</p>
            </div>
        </div>
        <div class="user-info">
            <h3>Описание:</h3>
            <p>{{ user.info }}</p>

            <h3>Интересы:</h3>
            <ul class="interests-list">
                {% for interest in user.interests %}
                    <li>{{ interest.definition }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="user-info">
            <h3>Все Фотографии:</h3>
            <ul class="photos-list">
                {% for photo in photos %}
                    <li><img src="data:image/png;base64,{{ photo.content }}"/></li>
                {% endfor %}
            </ul>
        </div>
        {% if user.is_blocked %}
            <button id="block-button" class="block-button"
                    onclick="location.href='{% url 'unblock-user' slug=user.id %}'">Разблокировать
            </button>
        {% else %}
            <button id="block-button" class="block-button"
                    onclick="location.href='{% url 'block-user' slug=user.id %}'">Заблокировать
            </button>
        {% endif %}
    </div>
{% endblock %}
